.max100 {
    text-transform: lowercase;
}

.footer { 
    height: 1.2vw; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #393838; 
    opacity: 1;
    font-size: 1vw;
    text-align: center;
    z-index: 10;
}
